@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --white-75: hsla(0, 0%, 100%, 0.75);
  --white-60: hsla(0, 0%, 100%, 0.6);
}

body {
  background-color: #0A0C1C;
  font-family: 'Inter';

  /* 15px */
  font-size: 0.938rem;
  color: #fff;
}

/* Centers flex center */
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


